.bg-container--destination-page {
  background-image: url(../../../assets/img/destination/background-destination-desktop.jpg);
  gap: 3rem;
}

.section__nav-list {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin-bottom: 5.6rem;
}

.section__nav-link:link,
.section__nav-link:visited {
  font-size: 1.6rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 1.2rem 0;
  color: var(--color-secondary);
  border-bottom: 4px solid transparent;
  transition: all 0.3s;
}

.section__nav-link:hover,
.section__nav-link:active {
  border-bottom: 4px solid var(--color-gray-light);
}

.section__nav-link--active:link,
.section__nav-link--active:visited {
  color: var(--color-white);
  border-bottom: 4px solid var(--color-white);
}

.section__title {
  font-family: "bellefair";
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.section__info {
  text-transform: uppercase;
  display: flex;
  gap: 8rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    span {
      &:first-child {
        font-size: 1.4rem;
        letter-spacing: 2.35px;
        color: var(--color-secondary);
      }

      &:last-child {
        font-size: 2.8rem;
        font-family: "bellefair";
      }
    }
  }

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 47rem;
    background-color: var(--color-white);
    opacity: 0.25;
    position: absolute;
    bottom: 9.2rem;
  }
}
