@font-face {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Bellefair-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/BarlowCondensed-Regular.ttf) format("truetype");
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }
  @if $breakpoint == tablet-portrait {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }
  @if $breakpoint == tablet-landscape {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800
  }
}
