@font-face {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Bellefair-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/BarlowCondensed-Regular.ttf) format("truetype");
}

@media only screen and (max-width: 37.5em) {
} // 600px

@media only screen and (max-width: 56.25em) {
} // 900px

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%; // 1REM = 8PX
  }

  .section__container--crew .crew-img img {
    height: 50rem;
  }

  .crew-title {
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
  }

  .crew-name {
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
  }

  .section__container--crew .mb {
    margin-bottom: 4rem;
  }

  .terminology-title {
    font-size: 4.8rem;
  }

  .section__container--technology .technology-img img {
    width: 46.5rem;
  }
} // 1200px

@media only screen and (max-width: 90em) {
  .header__nav {
    &::before {
      display: none;
    }
  }

  .guide-title {
    margin-left: 11rem;
  }

  .bg-container--destination-page,
  .bg-container--crew-page,
  .bg-container--technology-page {
    gap: 4rem;
  }

  .section--destination {
    gap: 4rem;
  }

  .section__container--crew {
    padding: 0 7rem 0 11rem;
  }

  .crew-img img {
    height: 54.5rem;
  }

  .tabs-box {
    padding-left: 6rem;
    gap: 4rem;
  }

  .technology-img img {
    width: 48.5rem;
  }
} // 1440px

@media only screen and (min-width: 112.5em) {
} // 1800
