@font-face {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Bellefair-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/BarlowCondensed-Regular.ttf) format("truetype");
}

@media only screen and (max-width: 23.5em) {
  .hero-section .heading-primary {
    letter-spacing: 2.7px;

    .heading-primary__bold-word {
      font-size: 14rem;
      line-height: 100px;
      padding: 2.7rem 0;
    }
  }

  main {
    .hero-section {
      .section__description {
        font-size: 2.5rem;
        line-height: 25px;
      }
    }

    .hero-section__btn:link,
    .hero-section__btn:visited {
      width: 25rem;
      height: 25rem;

      span {
        letter-spacing: 1.25px;
      }
    }
  }

  body .header .header__nav {
    width: 65%;
  }

  html body {
    .bg-container {
      &--home-page {
        background-image: url(../img/home/background-home-mobile.jpg);
      }

      &--destination-page {
        background-image: url(../img/destination/background-destination-mobile.jpg);
        gap: 6rem;
      }

      &--crew-page {
        background-image: url(../img/crew/background-crew-mobile.jpg);
        gap: 6rem;
      }

      &--technology-page {
        background-image: url(../img/technology/background-technology-mobile.jpg);
        gap: 6rem;
      }

      .section--destination,
      .section--crew,
      .section--technology {
        gap: 6rem;
      }
    }
  }

  main .section {
    .guide-title {
      margin-left: 0;
      justify-content: center;
      gap: 2.5rem;
      letter-spacing: 2.7px;
    }

    .destination-img img {
      width: 33rem;
    }

    .section__container--technology .section__description,
    .section__container--crew .section__description,
    .section__container--destination .section__description {
      font-size: 2.5rem;
      line-height: 25px;
    }

    .section__info {
      flex-direction: column;
      align-items: center;
      gap: 5rem;

      &::before {
        width: 48rem;
        bottom: 29.5rem;
      }

      div {
        gap: 2rem;

        span:first-child {
          font-size: 2.3rem;
        }

        span:last-child {
          font-size: 4.5rem;
        }
      }
    }
  }

  .section {
    .section__container {
      gap: 5rem;
    }

    .section__nav-list {
      margin-bottom: 5rem;
      gap: 5rem;

      .section__nav-link:link,
      .section__nav-link:visited {
        font-size: 2.3rem;
        letter-spacing: 2.35px;
      }
    }

    .section__title {
      margin: 0;
    }
  }

  body main .section--crew .section__container--crew {
    flex-direction: column-reverse;

    .crew-img {
      display: flex;
      justify-content: center;
      position: relative;

      img {
        height: 45rem;
      }

      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 51rem;
        background-color: var(--color-white);
        opacity: 0.15;
        position: absolute;
        bottom: 0;
      }
    }

    div {
      display: flex;
      flex-direction: column;

      nav {
        order: -1;
        margin-bottom: 5rem;

        .indicator {
          gap: 2.5rem;
        }
      }

      .crew-info .crew-title {
        font-size: 2.6rem;
      }

      .crew-info .crew-name {
        font-size: 4rem;
      }
    }
  }

  body main .section__container--technology {
    .tabs-box {
      gap: 4rem;
      padding: 0 0 5rem 0;
    }

    .pagination {
      gap: 2.5rem;
    }

    .page-link:link,
    .page-link:visited {
      font-size: 2.2rem;
      width: 6rem;
      height: 6rem;
    }

    .terminology-prefix-text {
      font-size: 2.3rem;
      margin-bottom: 1.5rem;
      letter-spacing: 2.35px;
    }

    .terminology-title {
      font-size: 4rem;
    }
  }
} // 375px

@media only screen and (max-width: 27em) {
  main .section__description {
    padding: 0 13rem;
  }

  .section {
    .destination-img img {
      width: 33.5rem;
    }

    .section__info {
      gap: 8rem;

      &::before {
        width: 51rem;
      }
    }
  }

  main .section--crew .section__container--crew .crew-img img {
    height: 52rem;
  }

  main .section__container--technology {
    .page-link:link,
    .page-link:visited {
      font-size: 2.5rem;
      width: 7rem;
      height: 7rem;
    }
  }
} // 432px

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5% !important; // 1REM = 6PX
  }

  html body .bg-container--home-page {
    gap: 10rem;
  }

  .header {
    padding: 4rem 4rem 0;
    z-index: 9;
    .logo {
      margin-left: 0;
      width: 6rem;
    }
  }

  .header .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15rem 0 0 5rem;
    transition: all 0.5s;
    transform: translateX(100%);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &-list {
      flex-direction: column;
      gap: 4rem;
    }

    &-link:link,
    &-link:visited {
      border-bottom: none;
      padding: 0;
      font-size: 3rem;
      letter-spacing: 2.7px;
      gap: 1.5rem;

      span {
        display: block;
      }
    }

    &-link:hover,
    &-link:active {
      border-bottom: none;
    }

    &-link--active:link,
    &-link--active:visited {
      border-bottom: none;
    }
  }

  .nav-open .header__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    z-index: 9;
  }

  .nav-open .mobile-nav {
    &__menu-icon {
      display: none;
    }

    &__close-icon {
      display: block;
    }
  }

  main .hero-section {
    gap: 14rem;

    &__btn:link,
    &__btn:visited {
      width: 26rem;
      height: 26rem;

      span {
        font-size: 3.2rem;
      }
    }
  }

  .section {
    .section__nav-link:link,
    .section__nav-link:visited {
      font-size: 2.4rem;
    }

    .section__info div span:first-child {
      font-size: 2rem;
    }
  }

  main {
    .section__description {
      font-size: 2.4rem;
    }

    .terminology-prefix-text {
      font-size: 2.4rem;
    }
  }
} // 600px

@media only screen and (max-width: 48em) {
  .header__nav-link {
    span {
      display: none;
    }
  }

  .logo {
    margin-left: 5rem;
  }
} // 768px

@media only screen and (max-width: 56.25em) {
  body .bg-container {
    &--home-page {
      background-image: url(../img/home/background-home-tablet.jpg);
      gap: 12rem;
    }

    &--destination-page {
      background-image: url(../img/destination/background-destination-tablet.jpg);
      gap: 5rem;
    }

    &--crew-page {
      background-image: url(../img/crew/background-crew-tablet.jpg);
      gap: 5rem;
    }

    &--technology-page {
      background-image: url(../img/technology/background-technology-tablet.jpg);
      gap: 5rem;
    }
  }

  .bg-container .section {
    &--destination,
    &--crew,
    &--technology {
      gap: 7rem;
    }
  }

  .header__nav {
    padding: 0 4.8rem;

    &-link:link,
    &-link:visited {
      letter-spacing: 2.35px;
      gap: 1rem;
    }
  }

  .hero-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .heading-primary {
    letter-spacing: 3.4px;
  }

  .heading-primary__bold-word {
    font-size: 19rem;
    line-height: 150px;
    padding: 2.8rem 0;
  }

  .section__description {
    font-size: 2rem;
    width: 68rem;
    line-height: 28px;
    padding: 0 8rem;
  }

  .mb {
    margin-bottom: 10rem;
  }

  .hero-section__btn:link,
  .hero-section__btn:visited {
    width: 30rem;
    height: 30rem;

    span {
      font-size: 4rem;
    }
  }

  .section .guide-title {
    margin-left: 4.8rem;
    font-size: 2.6rem;
    letter-spacing: 3.4px;
    gap: 2rem;
  }

  .section--crew .section__container--crew {
    padding: 0;
  }

  .section__container {
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 7rem;

    &--destination {
      padding-bottom: 5rem;
    }

    &--crew,
    &--technology {
      div .mb {
        margin-bottom: 5rem;
      }
    }

    &--technology {
      flex-direction: column-reverse;
    }
  }

  .destination-img img {
    width: 37.5rem;
  }

  .section__nav-list {
    justify-content: center;
    margin-bottom: 6rem;
  }

  .section__nav-link:link,
  .section__nav-link:visited {
    font-size: 2rem;
  }

  .section__info {
    justify-content: center;
    gap: 12rem;

    &::before {
      width: 58rem;
      bottom: 11rem;
    }

    div span:first-child {
      font-size: 1.8rem;
    }

    div span:last-child {
      font-size: 3.5rem;
    }
  }

  .crew-info .crew-title {
    font-size: 3rem;
  }

  .crew-info .crew-name {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .indicator {
    margin-bottom: 0;
    justify-content: center;
    gap: 2rem;
  }

  .section--crew .section__container--crew .crew-img img {
    height: 60rem;
  }

  .section--technology .section__container--technology .technology-img img {
    width: 100%;
  }

  .section__container--technology .tabs-box {
    flex-direction: column;
    padding: 0 0 6rem 0;
    margin: 0;
    gap: 6rem;
  }

  .pagination {
    flex-direction: row;
  }

  .terminology-prefix-text {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  div .terminology-title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
} // 900px

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%; // 1REM = 8PX
  }

  .section__container--crew .crew-img img {
    height: 50rem;
  }

  .crew-title {
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
  }

  .crew-name {
    font-size: 4.8rem;
    margin-bottom: 1.6rem;
  }

  .section__container--crew .mb {
    margin-bottom: 4rem;
  }

  .terminology-title {
    font-size: 4.8rem;
  }

  .section__container--technology .technology-img img {
    width: 46.5rem;
  }
} // 1200px

@media only screen and (max-width: 90em) {
  .header__nav {
    &::before {
      display: none;
    }
  }

  .guide-title {
    margin-left: 11rem;
  }

  .bg-container--destination-page,
  .bg-container--crew-page,
  .bg-container--technology-page {
    gap: 4rem;
  }

  .section--destination {
    gap: 4rem;
  }

  .section__container--crew {
    padding: 0 7rem 0 11rem;
  }

  .crew-img img {
    height: 54.5rem;
  }

  .tabs-box {
    padding-left: 6rem;
    gap: 4rem;
  }

  .technology-img img {
    width: 48.5rem;
  }
} // 1440px

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 87.5%; // 1REM = 14PX
  }

  .guide-title {
    margin-left: 10rem;
  }

  .header__nav {
    padding: 0 18rem 0 15rem;

    &::before {
      display: none;
    }

    &-list {
      gap: 4rem;
    }
  }

  .section__container--crew {
    padding: 0;
    justify-content: space-evenly;
  }

  .section__container--technology {
    justify-content: space-evenly;
  }

  .tabs-box {
    padding-left: 0;
  }
} // 1800px
