:root {
  --color-primary: #0b0d17;
  --color-secondary: #d0d6f9;
  --color-white: #fff;
  --color-gray: #4f5158;
  --color-gray-light: #909196;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 1rem rgba(208, 214, 249, 0.5);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1REM = 10PX
  overflow-x: hidden;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-white);
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
