.bg-container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  &--home-page {
    background-image: url(../img/home/background-home-desktop.jpg);
    gap: 14rem;
  }
}

.logo {
  margin-left: 5.6rem;
}

.header__nav {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(8rem);
  backdrop-filter: blur(8rem);
  padding: 0 15.4rem 0 12.2rem;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 50rem;
    background-color: var(--color-white);
    opacity: 0.25;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(8%, 50%);
  }

  &-list {
    display: flex;
    gap: 3.6rem;
    list-style: none;
  }

  &-link:link,
  &-link:visited {
    display: flex;
    gap: 1.2rem;
    letter-spacing: 2.7px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 4rem 0.6rem 3.6rem;
    transition: all 0.3s;
    border-bottom: 4px solid transparent;

    span {
      font-weight: bold;
    }
  }

  &-link:hover,
  &-link:active {
    border-bottom: 4px solid var(--color-gray-light);
  }
}

.heading-primary {
  font-size: 2.8rem;
  color: var(--color-secondary);
  font-weight: 400;
  letter-spacing: 4.75px;
  text-transform: uppercase;

  &__bold-word {
    display: block;
    font-family: "bellefair";
    font-size: 15rem;
    color: var(--color-white);
    padding: 2.4rem 0;
    letter-spacing: 0;
  }
}

.section__description {
  width: 45rem;
  color: var(--color-secondary);
  font-size: 1.8rem;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.hero-section__btn:link,
.hero-section__btn:visited {
  width: 25.5rem;
  height: 25.5rem;
  background-color: var(--color-white);
  border-radius: 50rem;
  display: flex;
  text-decoration: none;
  transition: all 0.5s;

  span {
    color: var(--color-primary);
    font-size: 3.2rem;
    font-family: "Bellefair";
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto;
  }
}

.hero-section__btn:hover,
.hero-section__btn:active {
  opacity: 0.5;
}

.guide-title {
  display: flex;
  gap: 1.6rem;
  font-size: 2.8rem;
  letter-spacing: 4.75px;
  margin-left: 17rem;

  span {
    font-weight: bold;
    color: var(--color-gray);
  }

  p {
    text-transform: uppercase;
  }
}

.section__text {
  position: relative;
}

.mb-8 {
  margin-bottom: 8rem;
}
