.bg-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  position: relative;
}

.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.section {
  display: flex;
  flex-direction: column;

  &--destination {
    gap: 6rem;
  }
}

.section__container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
