@font-face {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Bellefair-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/BarlowCondensed-Regular.ttf) format("truetype"); }

:root {
  --color-primary: #0b0d17;
  --color-secondary: #d0d6f9;
  --color-white: #fff;
  --color-gray: #4f5158;
  --color-gray-light: #909196; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:focus {
  outline: none;
  box-shadow: 0 0 0 1rem rgba(208, 214, 249, 0.5); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-white); }

::selection {
  background-color: var(--color-secondary);
  color: var(--color-primary); }

.bg-container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  .bg-container--home-page {
    background-image: url(../img/home/background-home-desktop.jpg);
    gap: 14rem; }

.logo {
  margin-left: 5.6rem; }

.header__nav {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(8rem);
  backdrop-filter: blur(8rem);
  padding: 0 15.4rem 0 12.2rem; }
  .header__nav::before {
    content: "";
    display: block;
    height: 1px;
    width: 50rem;
    background-color: var(--color-white);
    opacity: 0.25;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(8%, 50%); }
  .header__nav-list {
    display: flex;
    gap: 3.6rem;
    list-style: none; }
  .header__nav-link:link, .header__nav-link:visited {
    display: flex;
    gap: 1.2rem;
    letter-spacing: 2.7px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 4rem 0.6rem 3.6rem;
    transition: all 0.3s;
    border-bottom: 4px solid transparent; }
    .header__nav-link:link span, .header__nav-link:visited span {
      font-weight: bold; }
  .header__nav-link:hover, .header__nav-link:active {
    border-bottom: 4px solid var(--color-gray-light); }
  .header__nav-link--active:link, .header__nav-link--active:visited {
    border-bottom: 4px solid var(--color-white); }

.heading-primary {
  font-size: 2.8rem;
  color: var(--color-secondary);
  font-weight: 400;
  letter-spacing: 4.75px;
  text-transform: uppercase; }
  .heading-primary__bold-word {
    display: block;
    font-family: "bellefair";
    font-size: 15rem;
    color: var(--color-white);
    padding: 2.4rem 0;
    letter-spacing: 0; }

.section__description {
  width: 45rem;
  color: var(--color-secondary);
  font-size: 1.8rem;
  line-height: 32px;
  letter-spacing: 0.5px; }

.hero-section__btn-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.hero-section__btn:link,
.hero-section__btn:visited {
  width: 25.5rem;
  height: 25.5rem;
  background-color: var(--color-white);
  border-radius: 50rem;
  display: flex;
  text-decoration: none;
  position: relative;
  z-index: 9;
  transition: all 0.7s; }
  .hero-section__btn:link span,
  .hero-section__btn:visited span {
    color: var(--color-primary);
    font-size: 3.2rem;
    font-family: "Bellefair";
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto; }

.hero-section__btn:active,
.hero-section__btn:hover {
  box-shadow: 0 0 0 9rem rgba(255, 255, 255, 0.1); }

.guide-title {
  display: flex;
  gap: 1.6rem;
  font-size: 2.8rem;
  letter-spacing: 4.75px;
  margin-left: 17rem; }
  .guide-title span {
    font-weight: bold;
    color: var(--color-gray); }
  .guide-title p {
    text-transform: uppercase; }

.section__text {
  position: relative; }

.mb-8 {
  margin-bottom: 8rem; }

.bg-container {
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  position: relative; }

.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-around; }

.section {
  display: flex;
  flex-direction: column; }
  .section--destination {
    gap: 6rem; }

.section__container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; }

.bg-container--destination-page {
  background-image: url(../../../assets/img/destination/background-destination-desktop.jpg);
  gap: 3rem; }

.section__nav-list {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin-bottom: 5.6rem; }

.section__nav-link:link,
.section__nav-link:visited {
  font-size: 1.6rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 1.2rem 0;
  color: var(--color-secondary);
  border-bottom: 4px solid transparent;
  transition: all 0.3s; }

.section__nav-link:hover,
.section__nav-link:active {
  border-bottom: 4px solid var(--color-gray-light); }

.section__nav-link--active:link,
.section__nav-link--active:visited {
  color: var(--color-white);
  border-bottom: 4px solid var(--color-white); }

.section__title {
  font-family: "bellefair";
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem; }

.section__info {
  text-transform: uppercase;
  display: flex;
  gap: 8rem; }
  .section__info div {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
    .section__info div span:first-child {
      font-size: 1.4rem;
      letter-spacing: 2.35px;
      color: var(--color-secondary); }
    .section__info div span:last-child {
      font-size: 2.8rem;
      font-family: "bellefair"; }
  .section__info::before {
    content: "";
    display: block;
    height: 1px;
    width: 47rem;
    background-color: var(--color-white);
    opacity: 0.25;
    position: absolute;
    bottom: 9.2rem; }

.bg-container--crew-page {
  background-image: url(../../../assets/img/crew/background-crew-desktop.jpg);
  gap: 3rem; }

.section__container--crew {
  justify-content: space-between;
  padding: 0 17rem; }

.crew-info {
  font-family: "bellefair";
  font-weight: 400;
  text-transform: uppercase; }

.crew-title {
  font-size: 3.2rem;
  color: var(--color-gray-light);
  margin-bottom: 1.6rem; }

.crew-name {
  font-size: 5.6rem;
  margin-bottom: 2.4rem; }

.indicator {
  display: flex;
  gap: 1.6rem;
  list-style: none;
  margin-bottom: 8rem; }
  .indicator__dots:link, .indicator__dots:visited {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-gray);
    display: block;
    border-radius: 50rem;
    transition: all 0.2s; }
  .indicator__dots:hover, .indicator__dots:active {
    background-color: var(--color-gray-light); }
  .indicator__dots--active:link, .indicator__dots--active:visited {
    background-color: var(--color-white); }

.crew-img img {
  height: 57.5rem; }

.bg-container--technology-page {
  background-image: url(../../../assets/img/technology/background-technology-desktop.jpg);
  gap: 3rem; }

.section__container--technology {
  justify-content: space-between;
  align-items: center; }

.tabs-box {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-top: 5.6rem;
  padding-left: 17rem; }

.pagination {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  list-style: none;
  text-decoration: none; }

.page-link:link,
.page-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "bellefair";
  font-size: 3.2rem;
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--color-gray);
  border-radius: 50rem;
  transition: all 0.2s; }

.page-link:hover,
.page-link:active {
  border-color: var(--color-white); }

.page-link--active:link,
.page-link--active:visited {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-white); }

.terminology-prefix-text {
  display: block;
  font-size: 1.6rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-bottom: 1.2rem; }

.terminology-title {
  font-family: "bellefair";
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2.4rem; }
