.bg-container--technology-page {
  background-image: url(../../assets/img/technology/background-technology-desktop.jpg);
  gap: 3rem;
}

.section__container--technology {
  justify-content: space-between;
  align-items: center;
}

.tabs-box {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-top: 5.6rem;
  padding-left: 17rem;
}

.pagination {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  list-style: none;
  text-decoration: none;
}

.page-link:link,
.page-link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "bellefair";
  font-size: 3.2rem;
  color: var(--color-white);
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--color-gray);
  border-radius: 50rem;
  text-decoration: none;
  transition: all 0.2s;
}

.page-link:hover,
.page-link:active {
  border-color: var(--color-white);
}

.page-link--active:link,
.page-link--active:visited {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
}

.terminology-prefix-text {
  display: block;
  font-size: 1.6rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-bottom: 1.2rem;
}

.terminology-title {
  font-family: "bellefair";
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.technology-img {
  img {
    width: 51.5rem;
  }
}
